.landing-top {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "a a a"
    "b b d"
    "b b d"
    "c c c";

  &__text {
    grid-area: b;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  &__foot {
    grid-area: c;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    box-shadow: 0 0 0 0 $color-black;
    cursor: pointer;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }

  &__side {
    grid-area: d;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 20px;

    @include for-desktop-down {
      display: none;
    }

    a {
      color: $color-white;
      i {
        font-size: 34px;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        &:hover {
          transform: translateY(-3px);
          color: $color-highlight;
        }
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: $color-white;
    }
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.landing-title {
  color: $color-white;
  font-size: 3rem;

  @include for-tablet-portrait-down {
    font-size: 30px;
  }
}

.landing-block {
  max-width: 640px;
}

.email-link,
.download-link,
.landing-block p {
  font-weight: 500;
  color: $color-grey;
  font-size: 20px;
}

.email-link,
.download-link,
.landing-block p {
  font-size: 16px;
}

.email-link {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--dark);
  color: $color-white;
  text-decoration: none;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;

  &:hover {
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    border: none;
  }
}

.download-link {
  color: $color-white;
}
