.footer {
  margin-top: 72px;
  min-height: 70px;
  padding: 15px;
  border-top: 1px solid $color-highlight;
  box-shadow: 1px 1px 3px 1px $color-white;
}

.footer-content {
  color: $color-white;
  display: flex;
  justify-content: space-between;

  &__socials {
    display: none;
    @include for-desktop-down {
      display: flex;
      gap: 14px;
      margin-top: 8px;

      a {
        color: $color-white;
      }
    }
  }

  @include for-tablet-portrait-down {
    display: block;

    .footer-copyright {
      margin-top: 14px;
    }
  }
}
